$black: #3a3a3a;
$white: #fff;
$gray: #eee;
$light-gray: #f7f7f7;
$dark-gray: #494949;
$light-blue: aliceblue;
$green: #a5c243;

$brand-primary: $green;

$font-weight-base: 300;

$scale: 0px, 10px, 20px, 42px, 64px;
