@import "constants";
// @import "rebass.overrides";
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic);

html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: $font-weight-base;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}
